*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

.btn{
  background-color: #1b5102;
  border: none;
  font-size: x-large;
  border-radius: 20px;
  padding: 20px;
}
.btn:hover {
  background-color: #369907;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #359907af;
}
a{
  text-decoration: none;
  color: antiquewhite;
}

.logo{
    color: rgba(224, 5, 5, 0.868);
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 50px ;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 23px;
}

.nav-links .active-website a{
    background-color: #359907af;
    padding: 34px;
    color: black;
    text-decoration: underline; 
}
.nav-links a:hover{
    color: black;
    font-style: oblique;
}

.background-image{
    background-image: url(img/Regenwald.jpeg);
    padding: 10%;
    background-size: cover;

    background-color: black;
}
blockquote,h2{
    color: antiquewhite;
}
.container {
    position: relative;
    width: 50%;
}
.container img {
    width: 15cm;
    height: auto;
  }

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #5a9907d2;
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20% 20%;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .kontaktformular .btn a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  .kontaktformular .btn a:visited{
    color: black;
  }
 
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .kontaktformular {
    border-radius: 5px;
    background-color:#359907af;
    padding: 20px;
  }
  h3{
    border-left-width: 20cm;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
  }

  .kontaktbrett{
    padding: 30px;
    box-sizing:content-box;
    background-color: #359907af;
    display: flex;
    justify-content: space-around;
  }

  .kontaktbrett .btn {
    background-color: #5a9907d2;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  .kontaktbrett .btn:hover {
    background-color: #369907;
  }
  
  label{
    font-weight: 600;
    font-size: larger;
  }

  .tierblock{
    background-image: url(img/Regenwald.jpeg);
    background-size:cover;
    padding: 10%;
    
  }
  .tierblock div{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
  }
  .tierblock div img{
    width: auto;
    height: 200px;
  }
  .tierblock div ul{
    font-size: x-large;
    font-weight: 400;
  }

  .tierblock div h3{
    font-size: 40px;
  }
  h5{
    font-size: 80px;
  }
